<a href="https://colab.research.google.com/github/Charleeees/CPEN-21A-ECE-2-2/blob/main/Loop%20Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop

In [2]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

##The Break Statement

In [9]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)
  if x =="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [16]:
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x =="Thursday":
    break
print(x)

Thursday

##Looping through String

In [17]:
for x in "Thursday":
  print(x)

T
h
u
r
s
d
a
y

##The Range() Function

In [18]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [21]:
for x in range(2,7):
  print(x)

2
3
4
5
6

##Nested Loops

In [24]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##Python while Loops

In [29]:
i=1
while i<6:
  print(i)
  i+=1 #Assignment operator for addition

1
2
3
4
5

##The Break Statement

In [30]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1   #Assignment operator for addition

1
2
3

##The Continue Statement

In [32]:
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

##The Else Statement

In [33]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

##Application 1

In [34]:
#Create a Python Program that display Hello 0 to Hello 10 vertically
greetings=["Hello 0","Hello 1","Hello 2 ","Hello 3 ","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10",]

for x in greetings:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

##Application 2

In [39]:
#Create a Python Program that displays integers less than 10 but not less than 3
i=3
while i<11:
  print(i)
  i+=1

3
4
5
6
7
8
9
10